.container {
  text-align: center;
}

.title {
  font-size: 2rem;
  margin: 0 0 1rem;
}

.title .query-text {
  color: #f7d354;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.movies-container .movie-card {
  width: 28%;
  color: #fff;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #111;
  padding: 1rem;
}

.movies-container .movie-card img {
  max-width: 100%;
}

.movies-container .movie-card img,
.movies-container .movie-card p {
  margin-bottom: 1.5rem;
}

.movies-container .movie-card h2 {
  margin-bottom: 1rem;
}

.movies-container .movie-card svg {
  color: #f7d354;
}

.movies-container .movie-card a,
.movies-container .movie-card button {
  background-color: #f7d354;
  border: 1px solid #f7d354;
  border-radius: 4px;
  color: #000;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  transition: 0.4s;
  margin-bottom: 0.5rem; 
}

.movies-container .movie-card a:hover,
.movies-container .movie-card button:hover {
  background-color: transparent;
  color: #f7d354;
}
