@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: #f7d354;
    transition: 0.5s;
  }
  
  a:hover {
    color: #b8930c;
  }

    /* Estilos para o tema dark */
body.theme-dark {
  background-color: #19191d;
  color: #fff;
}

/* Estilos para o tema light */
body.theme-light {
  background-color: #f0ebf9;
  color: #000;
}