* {
    font-family: Georgia;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: #f7d354;
    transition: 0.5s;
  }
  
  a:hover {
    color: #b8930c;
  }

    /* Estilos para o tema dark */
body.theme-dark {
  background-color: #000;
  color: #fff;
}

/* Estilos para o tema light */
body.theme-light {
  background-color: #ffffff;
  color: #000;
}